.loading-indicator { 
	left: 45px;
	top: 45px;
	position: absolute;
}
.container {
	border: lightgreen solid 1.5em;
	background: lightgreen;
	position: relative;
}
.left {
	background: darkblue;
}
.right {
	background: darkorange;
}
.cell {
    display: table-cell;
    width: 6em;
    height: 6em;
}
.row {
    display: table-row;
}
.space {
	width: 3em;
    height: 3em;
}
.mover { 
	background-color: darkred;
	width: 6em;
    height: 6em;
	position: absolute;
	-webkit-animation-name: mover;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;	
	-webkit-animation-direction: normal;
	-webkit-animation-delay: 0;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes mover {
	0% {
		top: 0em;
		left: 0em;
	}
	25% { 
		top: 0em;
		left: 9em;
	}
	50% {
		top: 9em;
		left: 9em;
	}
	75% {
		top: 9em;
		left: 0em;
	}
}